@using MvcBookStore.Models
@model List<Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Thông tin giỏ hàng</h2>
<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-brand">
                @Html.ActionLink("TRANG CHỦ", "Index")
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ĐĂNG NHẬP   ", "Dangnhap", "Nguoidung")</li>
                    <li>@Html.ActionLink("     ĐĂNG KÝ", "Dangky", "Nguoidung")</li>
                    <li>@Html.ActionLink("GIỎ HÀNG", "Giohang", "Giohang")</li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                @Html.Action("Chude", "BookStore")

                @Html.Action("Nhaxuatban", "BookStore")
            </div>

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="~/Images/hinhngoai1.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/Images/hinhngoai2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/Images/hinhngoai3.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <table align="center" border="1">
                            <tr style="text-align:center;font-weight:bold">
                                <td>Mã sách</td>
                                <td>Tên sách</td>
                                <td>Ảnh Bìa</td>
                                <td>Số lượng</td>
                                <td>Đơn giá</td>
                                <td>Thành tiền</td>
                            </tr>
                            @foreach (var item in Model)
            {
                                <tr style="text-align:center;font-weight:bold">
                                    <td>@item.iMasach</td>
                                    <td>@item.sTensach</td>
                                    <td><img src="~/Images/@item.sAnhbia" /></td>
                                    @using (Html.BeginForm("CapNhat", "Giohang", new { @iMaSp = item.iMasach }))
                {
                                        <td>
                                            <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" style="background-color:yellow"/>
                                        </td>
                                        <td>@String.Format("{0:0,0}", item.dDonggia)</td>
                                            <td>@String.Format("{0:0,0}", item.dThanhTien)</td>
                                            <td><a href="@Url.Action("Details","BookStore",new { id = item.iMasach })"> Chi tiết </a></td>
                                            <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSp = item.iMasach })</td>
                                            <td><input type="submit" value="Cập Nhật"/></td>
                                    }

                                </tr>
                            }
                            <tr style="font-weight:bold ;text-align:right ;color:red">
                                <td colspan="4"> Số lượng sách : @ViewBag.Tongsoluong </td>
                                <td colspan="5"> Tổng tiền : @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>

                            </tr>
                            <tr style="font-weight:bold; color:blue ; text-align:right">
                                <td colspan="9">
                                    @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGiohang")
                                </td>
                            </tr>
                            <tr style="font-weight:bold; color:blue ;text-align:right">
                                <td colspan="9" align="center">
                                    @Html.ActionLink("ĐẶT HÀNG", "Dathang", "Giohang");
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-lg-9 -->
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>

