@using MvcBookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.SACH>

@helper Truncate(string input , int length)
    { 
        if (input.Length < length)
        {
                @input
        }
        else
        {
                @input.Substring(0,length)<text>...</text>
        }
    }
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<h2>Quan ly thong tin sach</h2>

<p>
    @Html.ActionLink("Them moi", "Themmoisach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px"> Ten sach </th>
        <th style="width:100px"> don vi tinh </th>
        <th style="width:100px"> Gia ban </th>
        <th style="width:300px"> Mo ta </th>
        <th style="width:120px"> Hinh minh hoa </th>
        <th style="width:150px"> ngay cap nhat </th>
        <th style="width:120px"> Ten chu de </th>
        <th style="width:100px"> Ten NXB </th>
        <th style="width:120px"> SL ton </th>
        <th style="width:200px"> </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
           @Truncate(item.Mota,100)
        </td>
        <td>
            <img src="@Url.Content("~/Images/"+item.Hinhminhhoa)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solanxem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Suasach", new { id=item.Masach }) |
            @Html.ActionLink("Details", "Chitietsach", new { id=item.Masach }) |
            @Html.ActionLink("Delete", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>